<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Quickstart"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.example.e4.quickstart/css/default.css">
         </property>
         <property
               name="appName"
               value="Quickstart">
         </property>
      </product>
   </extension>

</plugin>
